:root {
        --root_color: #0f5ff0;
        --root_colorhigh: #1f1fff;
        --root_colorlow: #090999;

        --text_color: #484848;
        --text_colorhigh: #f8f8f8;
        --text_colorlow: #080808;

        --pannel_color: #0f5ff0;
        --pannel_colorhigh: #1f1fff;
        --pannel_colorlow: #090999;

}


h1 {
        font-size: 36px;
        font-weight: bold;
        color: var(--text_color);
}

h2 {
        font-size: 24px;
        font-weight: bold;
        color: var(--text_colorhigh);
}

h3 {
        font-size: 18px;
        font-weight: bold;
        color: var(--text_color);
}

h4 {
        font-size: 16px;
        font-weight: bold;
        color: var(--text_colorlow);
}

.subtext{
        border-top-width: 0px;
        border-bottom-width: 0px;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
}
header {
        background-color: var(--root_color);
        margin: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        border:0%;
        width: 100%;
        height: 100%;
        display: flex;
}
.name
{
        display: flex;
        flex: row;
        align-items:start;
        font-size: 80px;
        width: 40%;
        color: var(--text_colorlow);
        

        img {
                flex: row;
                align-items: start;
                margin: auto;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border-style: dashed;
                border-width: 1px;
        }
}
.socialButtons 
{
        flex: row;
        align-items: end;
        display: flex;
        justify-content: flex-end;
        height: 80px;
        width: 50%;
        margin: auto;
        margin-right: 5%;
}

.socialButtons a {
        margin: auto;
        margin-left: 10px;
        margin-right: 10px;
        min-height: 48px;
        min-width: 48px;
        background-repeat: no-repeat;
        background-position: center;
        font-size: larger;
        text-align: center;
        background-image: linear-gradient(to bottom, #fff, #090050);
        color: #fff;
}
.socialButtons a:hover {
        border-radius: 5%;
        border-style: solid;
        border-width: 3px;
        border-color: black;
}

.socialButtons .linkedIn {
        background-image: url("https://www.linkedin.com/favicon.ico");
}
.socialButtons .twitter {
        background-image: url("https://twitter.com/favicon.ico");
}
.socialButtons .facebook {
        background-image: url("https://www.facebook.com/favicon.ico");
}
.socialButtons .instagram {
        background-image: url("https://www.instagram.com/favicon.ico");
}
.socialButtons .github {
        background-image: url("https://www.github.com/favicon.ico");
}
.socialButtons .itch {
        background-image: url("https://www.itch.io/favicon.ico");
}

.socialButtons div:hover {
        background-image: linear-gradient(to bottom, #090050, #fff);
        color: #090050;
        border-color: #090050;
}

html
{
        height: 100%;
}
body 
{
        margin: 0;
        padding: 0%;
        color: var(--text_color);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        background-image: linear-gradient(to bottom, var(--pannel_colorhigh), var(--pannel_colorlow));
        background-attachment: fixed;
        font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        
}

.menuButtons
{
        min-height: 40px;
        border-style: double;
        color: var(--text_colorlow);
        border-width: 0px;
        border-top-width: 5px;
        border-bottom-width: 5px;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-image: linear-gradient( to left, var(--pannel_colorlow), var(--pannel_colorhigh));
        justify-self: flex-start;
        display: flex;

}

.menuButtons .selection 
{
        border-style: groove;
        border-width: 0px 3px 0px 3px;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        height: auto;
        width: 20%;
        background-image: none;
        background-color: var(--pannel_color);
}

.content section {
        position: absolute;
        display: block;
}

.menuButtons .selection p
{
        text-align: center;
        vertical-align: center;
}

